*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: dodgerblue;
    padding: 1rem;
    
    
}



.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.space{
    justify-content: space-between;
}
.col-small{
    width: 100%;
}
.col-big{
    width: 100%;
}
.head-container{
    width: 100%;
    margin: 0 auto;
}
.header-size{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

/*Colors*/
.blue{
    color:dodgerblue;
}
.l-blue{
    color:lightskyblue;
}
.purple{
    color:mediumpurple;
}
.gold{
    color:gold
}
.gray{
    color: dimgray;
}
.white{
    color: white;
}